@model EmployeeViewModel

<div>
    <img src="~/Files/Images/@Model.ImageName" alt="@Model.Name Image" width="75" class="rounded img-fluid my-3" />
</div>

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <input readonly asp-for="IsActive" type="checkbox" class="form-check-input ml-2" id="IsActive">
    <label asp-for="IsActive" class="form-check-label ml-5" for="IsActive"></label>
</div>
<div class="form-group">
    <div class="form-check">
        <input disabled asp-for="Gender" class="form-check-input" type="radio" id="Male" value="1">
        <label class="form-check-label" for="Male">
            Male
        </label>
        <input disabled asp-for="Gender" class="form-check-input ml-3" type="radio" id="Female" value="2">
        <label class="form-check-label ml-5" for="Female">
            Female
        </label>
    </div>

</div>
<div class="form-group">
    <label asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" readonly />
</div>
