
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-xl-6">
    <div class="card-body p-md-5 text-black">
        <h3 class="mb-5 text-uppercase"></h3>
        <div>
            <div>
                <h5>Password Reset Link Has Been Sent to Your Mail</h5>
                <h6 class="my-2">Please Check Your Inbox</h6>
            </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
            </div>
        </div>
    </div>
</div>

