@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-xl-6">
    <div class="card-body p-md-5 text-black">
        <h3 class="mb-5 text-uppercase">Sign In</h3>
        <form asp-action="ResetPassword">

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>


            <div data-mdb-input-init class="form-outline mb-4">
                <input asp-for="NewPassword" class="form-control form-control-lg" />
                <label class="form-label  font-italic " asp-for="NewPassword"></label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input asp-for="ConfirmNewPassword" class="form-control form-control-lg" />
                <label class="form-label  font-italic " asp-for="ConfirmNewPassword"></label>
            </div>

            <div class="d-flex justify-content-center mt-3 pt-3">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg ms-2 font-weight-bold">RESET</button>
            </div>
        </form>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}

