@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<form asp-action="Create" enctype="multipart/form-data">
   
    <partial name="PartialViews/CreateEditPartial" />

    <input class="btn btn-primary" value="Create" type="submit" /> |
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>


@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}

